*{
    font-family: papyrus;
}
body{
    padding: 10px;

}
.logo-container{
    height: 50px;
    width: 50px;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
}
.logo-container #logo:hover{
    transform: rotate(360deg);
}
#logo{
    transition:transform 0.6s ease-in-out, opacity 0.3s ease-in-out;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}

.thumbnail{
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
.thumbnail-container{
    height: 50px;
    width: 50px;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    margin-left: 45%;
    margin-bottom: 15px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
#navigation1,#navigation2,#navigation3,#navigation4{
    font-weight: bolder;
}
.navbar{
    z-index: 100;
}
.navbar-nav li{
    transition: .3s;
}
.navbar-nav li:hover{
    color:red;
    font-weight: bold;
}

/* text css above main bg image*/
.title {
    font-size: 4.5rem;
    position: relative;
    color: cornflowerblue;
}

.title::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: lightgrey;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
    opacity: .3;
}
.desc {
    font-size: 1.4rem;
    color: cornflowerblue;
    position: relative;
}
.desc::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: lightgrey;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
    opacity: .3;
}


/* about section image css */
.imageAboutPage {
    width: 100%;
}
#about{
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);

}
.abt{
    overflow-x: hidden;
}
.about-text{
    line-height: 1.8;
}

.about-content .animate{
    transition: 1s;
}

.imagecont .animate{
    transform: scale(.7);
}

.imagecont.showanimate .animate{
    transform: scale(1);
}

.textcont p{
    transform: translateX(100%);
}

.textcont.showanimate p{
    transform: translateX(0);
}

/* project section css */
#projects{
    background-image: radial-gradient(white,black);
    background-repeat: no-repeat;
    padding-bottom: 15px;
}
.c-1{
    background-color:black;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 25px;
    border: 4px solid darkcyan;
}
.c-1:hover{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
    opacity: .8;
    overflow: hidden;
}
.c-2{
    background-color:lightblue;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 25px;
    border: 4px solid black;
}
.c-2:hover{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:lightblue;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
    opacity: .8;
    overflow: hidden;
}
.c-3{
    background-color:#E7FFAC;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 25px;
    border: 5px solid orange;
}
.c-3:hover{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #E7FFAC;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
    opacity: .8;
    overflow: hidden;
}
.c-4{
    background-color:#DCD3FF;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 25px;
    border: 5px solid violet;
}
.c-4:hover{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #DCD3FF;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
    opacity: .8;
    overflow: hidden;
}



/* contact section css */
#contact{
    position: relative;
}
.contactContent{
    margin-top: 50px;
    margin-bottom: 25px;
    box-shadow: 0 -4px 4px -2px rgba(0, 0, 0, 0.2), 0 4px 4px -2px rgba(0, 0, 0, 0.2);
    padding: 25px;
}

form{
    margin-bottom: 15px;
}

.contact-btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 100%;
    border:1px solid black;
    background-color: black;
    border-radius: 8px;
    font-size: 19px;
    color: white;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}
.contact-btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: greenyellow;
    z-index: -1;
    transition: .5s;
}
.contact-btn:hover::before{
    width: 100%;
}
.contact-footer-bg{
    background-image: linear-gradient(to bottom,white,white,black);
}


/* footer section css */
footer{
    padding: 15px;
}
.bot{
    color: black;
}
.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social-section{
    display: flex;
    justify-content: center;
    width: 250px;

}
.social-icon-container{
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: transparent;
}
.social-icon-container:hover{
    background-color: lightgray;
}

.soc{
    font-size: 30px;
}
.facebook{
    color: blue;
}
.insta{
    color:orangered;
}
.twitter{
    color: silver;
}
.fac{
    border-color: blue;
}
.in{
    border-color:orangered;
}
.x{
    border-color: silver;
}

.navigation:hover{
    color: #00abf0;
}
.navigation:active{
    color: #00abf0;
}
.errorMsg{
    color: red;
    font-size: 12px;
}

footer{
    color: silver;
}
.footer-text a:hover,.back:hover{
    color: silver;
}

/* media queries */
@media screen and (max-width:992px){
    body{
        background-color: black;
    }
    #home{
        height:100vh;
        background-image: url('images/profile-pic-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h2 span{
        color:white ;
    }
    #home p{
        color: white;
    }
    .footer-text{
        display: flex;
        flex-direction: column;
    }
    .imageAboutPage{
        margin-bottom: 15px;
    }   
    .star{
        display: none;
    }
    #about{
        /* background-color: black; */
        color: silver;
    }
    .propositions-card{
        border: 1px solid grey;
        border-radius: 205px;
        padding: 95px;
        background-color: black;
        color: #DCD3FF;        
    }   
    
}

@media screen and (min-width:993px){
    #home{
        height:100vh;
        background-image: url('images/profile-pic-lg-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .part{
        color: red;
    }
    h2 span{
        color:black ;
    }
    .footer-text{
        display: flex;
        justify-content: space-between;
        width: 300px;
        margin-bottom: 15px;
    }
    .about-text{
        width: 350px;
    }
    .star{
        width: 600px;
    }
    .propositions-card{
        border: 1px solid grey;
        border-radius: 8px;
        padding: 40px;
        background-color: black;
        color: #DCD3FF;
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 50%;
        width: 100%;
        text-align: center;
        transform: translate(-50%,50%);
    }
    
    .l1{
        font-size: 25px;
        font-weight: bold;
        color: silver;
        cursor: pointer;
        margin-bottom: 30px;
    }
    .l1 span{
        display: inline-block;
        font-size: 20px;
        font-weight: 500;
        transition: 0.3s cubic-bezier(0.68,-0.55,0.265);
    }
    .l1:hover span{
        color: #27ae60;
        transform: translateY(-30px);
    }
    
    .l2{
        font-size: 10px;
        font-weight: 500;
        color: silver;
        cursor: pointer;
        margin-top: 30px;
    }
    .l2 span{
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        transition: 0.3s cubic-bezier(0.68,-0.55,0.265);
    }
    .l2:hover span{
        color: #27ae60;
        transform: translateY(-30px);
    }
}

/* keyframes */
@keyframes showRight{
    100%{
        width: 0;
    }
}



